<section class="education__section">
  <h3 class="education__section--h3">Wykształcenie</h3>
  <div class="education__section--div">
    <h4><a href="">Wyższa Szkoła Ekonomii i Innowacji w Lublinie</a></h4>
    <p>Informatyka: Specjalizacja Systemy i Sieci Komputerowe<br>
      2010 - 2013
    </p>
    <h4 class="education__section--h4"><a href="">Wyższa Szkoła Przedsiębiorczości i Administracji w Lublinie</a></h4>
    <p>Informatyka: Specjalizacja Systemy i Sieci Komputerowe<br>
      2009 - 2010
    </p>
  </div>
</section>