.links__section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.links__section--img {
    width: 50px;
    height: 50px;
}

.links__section--a {
    padding-right: 15px;
    width: 50px;
    height: 50px;
}
.links__section--h3 {
    width: 20vw;
}

.links__section--div {
    width: 60vw;
    display: flex;
    justify-content: space-between;
}