<section class="experience__section">
  <h3 class="experience__section--h3">Doświadczenie</h3>
  <div class="experience__section--div">
    <div>
      <h4>Kurs Junior Front-End Developer</h4>
      <a href="">infoShare Academy Lublin</a>
      <p>Październik 2018 - Grudzień 2018</p>
      <p class="experience__section--p">
        Kurs trwał 320 godzin . Na kursie poznałem narzędzia
        programistyczne tj. : IDE , GIT i GitHub oraz Jira . Nauczyłem się
        używac systemu kontroli wersji GIT. Poznałem znaczniki HTML oraz
        CSS . Potrafię programować w JavaScript dynamiczne elementy
        stron www jak i tworzyć gry oraz aplikacje . Poznałem obsługę
        biblioteki REACT podczas tworzenia aplikacji webowych. Potrafię
        pracować w zespole SCRUM. Podczas kursu wraz z kolegami
        stworzyliśmy stronę www wraz z aplikacją webową TwojaKaloria do
        zliczania dziennego spożycia kalorii oraz innych makroelementów w
        posiłkach . Dzięki aplikacji jesteśmy też w stanie zaplanować sobie
        posiłkina dane dni .
      </p>
    </div>
    <div class="experience__section--experienceShop">
      <h4>Kierownik sprzedaży</h4>
      <p>Sklep Spożywczo-Przemysłowy</p>
      <p>Październik 2016 - Październik 2018</p>
      <div class="experience__section--p">
        Moim zadaniem było:
        <ul>
          <li>kontrolowanie sprzedaży produktów</li>
          <li>skłądanie zamównień</li>
          <li>zaopatrzenie</li>
          <li>obsługa na kasie fiskalnej</li>
          <li>praca z podwładnymi</li>
        </ul>
      </div>
    </div>
  </div>
</section>