<div class="div__summary">
  <h3 class="div__summary-h3">Podsumowanie</h3>
  <p class="div__summary-p">
    Swoją przygodę z programowaniem zacząłem 8 lat temu na
    studiach. Swoją pierwszą rozbudowaną aplikację napisałem
    w JAVA . Jak to mówią potrzeba matką wynalazków. Wtedy
    powstała aplikacja na system LINUX służąca do konwersji
    plików video na dowolne urządzenie. Obecnie dobrze czuję
    się w JavaScript oraz w bibliotece REACT. Poszukuję
    pracy jako Junior Front - end Developer .
  </p>
</div>